<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет proudcts -->
{% block title %}
One news:
{% endblock title %}

{% block top %}
    {% if one_news.category == "NE" %}
        №:{{one_news.id}} Новость
    {% elif one_news.category == "AR" %}
        №:{{one_news.id}} Статья
    {% endif %}
{% endblock top %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
{% if one_news %}
        <table>
            <tr>
<!--                <td>Автор</td>-->
                <td>Заголовок</td>
                <td>Текст статьи</td>
                <td>Дата публикации</td>
<!--                <td>Тип (статья/новость)</td>-->
<!--                <td>Тематика</td>-->
<!--                <td>Рейтинг</td>-->
            </tr>
            <tr>
<!--                <td> {{ one_news.postAuthor.authorUser.username }} </td>-->
                <td> {{ one_news.topic|censor:1 }} </td>
                <td> {{ one_news.contents|censor:1  }} </td>
                <td> {{ one_news.date|date:'d-M-y H:i' }} </td>
<!--                <td> {{ one_news.category }} </td>-->
<!--                <td> {{ one_news.postcategory }} </td>-->
<!--                <td> {{ one_news.rating }} </td>-->
           </tr>
        </table>
    {% else %}
    <h3>Новости с номером {{ one_news.id }} нет!</h3>
    {% endif %}
{% endblock content %}