<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h2>Здравствуй, {{ user }}. Новая статья в твоём любимом разделе! </h2>

    <hr>
    <p> Тема: {{ post.topic }} </p>
    <p> Содержание: {{ post.contents|truncatechars:50 }} </p>
     <p> Ссылка на полный текст статьи:<a href="{{ link }}">здесь</a></p>
    <hr>
</body>
</html>

<!--При добавлении новости из этой категории пользователю на email, указанный при регистрации, -->
<!--приходит письмо с HTML-кодом заголовка и первых 50 символов текста статьи.-->

<!--В теме письма должен быть сам заголовок статьи. -->
<!--Текст состоит из вышеуказанного HTML -->
<!--и текста: «Здравствуй, username. Новая статья в твоём любимом разделе!».-->